* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: #083b4c;
}

ol, ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.title {
    color: white;
    font-size: 64px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    gap: 2%;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.col {
    width: calc(88% / 7);
    padding: 55px;
}

.blue {
    background-color: #1389b2;
}

.green {
    background-color: #0bd6a1;
}

.yellow {
    background-color: #ffd166;
}

.red {
    background-color: #f0466f;
}